* {
padding: 0;
margin: 0;
box-sizing: border-box;}

body {
   font-family: 'Poppins', sans-serif;
}
section {
    padding-top: 48px;
    padding-bottom: 48px;
}

p {
    color: rgb(132, 130, 130);
    max-width: 420px;
}
h1 {
    font-size: 2.96rem;
    margin-bottom: 24px;
}


.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}


header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}

#logoLink {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

#logoLink,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
}
nav {
    display: none;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    

}
.buttonPrimary {

    background-color: black;
    color: white;
    }

.buttonSecondary {
    
    color: black;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
    .buttons {
        flex-direction: row;

    }
}

@media only screen and (min-width: 768px) 
{
    #menuButton {
        display: none;
    }
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
    }

    nav a {
        text-decoration: none;
        color: rgb(74, 73, 73);
    }
  }
  